:root {
  /* Font Families */
  --heading-font: "Poppins", sans-serif;
  --body-font: "Poppins", sans-serif;

  /* Theme Colors */
  --theme-primary-color: #ff6600;  
  --theme-secondary-color: #0055ff; 
  --theme-heading-color: #333333; 
  --theme-paragraph-color: #666666; 
}

*{
	font-family: var(--body-font)!important;
}

body h1{
  font-family: var(--body-font)!important;
  font-weight:900!important;
}